.J01_gamebox{
    display: flex;
    align-items: center;
    background-color: darkslategrey;
    width: 75%;
    height: 90px;
    border-radius: 5px;
    margin: 10px;
    padding: 0.5rem;
}

.J01_about_case{
    display: inline-block;
    position: relative;
    margin-left: 2rem;
    bottom: 0.5rem;
    width: 20rem;
}

.J01_image_case{
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: 1rem;
}

.J01_link_case{
    display: inline-block;
    position: relative;
    bottom: 1rem;
    left: 9rem;
    margin: 0.5rem;
}

.J01_active_case{
    display: inline-block;
    position: relative;
    bottom: 1.5rem;
    left: 10rem;
    border-radius: 100%;
    background-color: lightgreen;
    border-color: green;
    border-style: solid;
    padding: 1.5rem 1rem 1.5rem 1rem;
}

.J01_kicked_case{
    display: inline-block;
    position: relative;
    bottom: 1.5rem;
    left: 10rem;
    background-color: indianred;
    border-color: red;
    border-radius: 100%;
    border-style: solid;
    padding: 1.5rem 1rem 1.5rem 1rem;
}

.J01_auth_case{
     color: white;
     display: inline-block;
     position: relative;
     bottom: 1.5rem;
     left: 10rem;
     background-color: black;
     border-color: lightgrey;
     border-radius: 100%;
     border-style: solid;
     padding: 1.5rem 1rem 1.5rem 1rem;
 }

.J01_inactive_case{
    color: white;
    display: inline-block;
    position: relative;
    bottom: 1.5rem;
    left: 10rem;
    background-color: blue;
    border-color: aliceblue;
    border-radius: 100%;
    border-style: solid;
    padding: 1.5rem 1rem 1.5rem 1rem;
}