body{
    background-image: url('../test_background.jpg');
    background-size: cover;
    text-align: center;
	width: 100%;
	margin: 0;
}

#head{
    background-color: darkslategrey;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 0 5px 0;
}

#icon{
    position: relative;
    color: white;
    margin: 0.5VW;
}

#title{
    color: white;
	margin-left: 20px;
}

#company{
    font-size: 10px;
    position: relative;
    top: -14px
}

#motto{
    font-size: 12px;
    color: white;
    position: absolute;
    right: 10VH;
    top: 30px;
}