html {
    position: relative;
    min-height: 100%;
}

.column-layout{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}
.side-column{
    width: 12.5%;
    background-color: grey;
}

#news-board{
    background-color: #2d2d2d;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .15);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .15);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .15);
	border: 1px solid #000;
    padding: 15px;
    width: 75%;
    margin: 1px;
}

article{
	background-image: linear-gradient(to bottom, #212427, #1a1b1f);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .15);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .15);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .15);
	border: 1px solid #000;
	color: #d5d5d5;
	margin-bottom: 20px;
}

#bottom-adds{
    display: flex;
    align-items: center;
}

#footer{
    background-image: linear-gradient(to bottom, #333333, #1a1b1f);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .15);
	-webkit-box-shadow:  0 1px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .15);
	-moz-box-shadow:  0 1px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .15);
	border-top: 1px solid #000;
    display: flex;
    text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	color: #d5d5d5;
	height: 50px;
	margin-bottom: -50px;
}

footer{
	margin: 5px;
}