#nav-bar{
	padding-left: 20px;
    display: flex;
    position: sticky;
	background-image: linear-gradient(to bottom, #333333, #1a1b1f);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	-webkit-box-shadow:  0 1px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow:  0 1px 3px rgba(0, 0, 0, .2);
	border-bottom: 1px solid #000;
	height: 35px;
	line-height: 35px;
	text-align: left;
	justify-content: center;
}

#nav-menu{
    display: contents;
	marin: 0 auto;
	position: relative;
}

#nav-menu li{
	margin: 0;
}

.nav-box{
    width: calc(100%/12);
    text-align: center;
    color: #d5d5d5;
	list-style: none;
}

.nav-box:hover,
.nav-box-current:hover,
.nav-box-current:active{
    background-image: linear-gradient(to bottom, #222, #08090b);
}

.nav-box-current{
    width: calc(100%/12);
    text-align: center;
    color: #d5d5d5;
    background-image: linear-gradient(to bottom, #222, #08090b);
	list-style: none;
}

.nav-logo{
	list-style: none;
}

.nav-login{
	list-style: none;
}