#nav-bar{
    background-color: darkgray;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: sticky;
    display: flex;
    flex-direction: row;
}

.nav-box{
    border-radius: 10px;
    width: calc(100%/6);
    text-align: center;
    color: white;
}

.nav-box:hover{
    background-color: black;
}
.nav-box-current{
    border-radius: 10px;
    width: calc(100%/6);
    text-align: center;
    color: white;
    background-color: darkslategrey;
}

.nav-box-current:hover{
    background-color: black;
}
.nav-box-current:active{
    background-color: black;
}